#wrapper{
	position: relative;
	margin: 20px auto;
	width: 900px;
	padding: 20px;
	background: #CCCCCC;
	overflow: hidden;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#top, #down{
	clear: both;
	display: block;
	margin: 10px 0;
}
#top h1.f1-stats-logo a{
	display:block ;
	float: left;
	width: 345px;
	height: 69px;
	text-indent: -9999px;
	background: transparent url('../images/f1-stats.png') no-repeat;
}

#top h2.socialminds a{
	display: block;
	float: right;
	width: 113px;
	height: 70px;
	text-indent: -9999px;
	background: transparent url('../images/social-minds.png') no-repeat;
}
#down{
	padding: 10px 0;
	border-top: 1px solid #999;
	text-align:center;
	color:#888;
}
#down a {
	color:#888;
}

/* Menu buttons */
#menu{
	position: absolute;
	margin-left: -35px;
	left: 50%;
	top: 100px;
	width: 70px;
	height: 25px;
}
#menu ul,
#menu li{
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu li{
	float: left;
}
#menu li a { 
	padding: 6px 14px 6px;
	outline: none;
	background-image: url('../images/bg-btn.png');
	font-family: 'ITCOfficinaSerifStdBook';
	border: 1px solid rgba(0,0,0,.25);
	border-bottom-color: rgba(0,0,0,.35);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	color: #666;
	text-decoration: none;
	font-weight: bold;
}

#menu li a.year{
	margin-left: 5px;
}

#menuYears {
	width:360px; 
	position:relative;
	left:-140px;
	background:#FFF;
	z-index:1;
	border:1px solid #ccc;
	display:none;
	padding:0 0 0 5px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow:5px 5px 5px rgba(0,0,0,0.4);
	-webkit-box-shadow:5px 5px rgba(0,0,0,0.4);height:100%;
	font-family: 'ITCOfficinaSerifStdBook';
	
}
#menuYears ul {float:left; overflow:hidden; width:40px; margin:0;padding:10px;}
#menuYears ul li:hover {background:yellow; font-weight:bold; cursor:pointer; cursor: hand;}
#menuYears ul li { cursor:pointer; cursor: hand;}

#content{
	clear: both;
	background: #FFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: inset 0px 5px 10px #666; /* FF3.5+ */
	-webkit-box-shadow: inset 0px 5px 10px #666; /* Saf3.0+, Chrome */
	box-shadow: inset 0px 5px 10px #666; /* Opera 10.5, IE 9.0 */
	filter:  progid:DXImageTransform.Microsoft.dropshadow(OffX=inset 0px, OffY=5px, Color='#666666'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=inset 0px, OffY=5px, Color='#666666')"; /* IE8 */
}

@font-face {
	font-family: 'ITCOfficinaSerifStdBook';
	src: url('../static/font/OfficinaSerifStd-Book.eot');
	src: local('ITC Officina Serif Std'), local('OfficinaSerifStd-Book'), url('../static/font/OfficinaSerifStd-Book.woff') format('woff'), url('../static/font/OfficinaSerifStd-Book.ttf') format('truetype');
}

/* HTML5 styles */
section, header, progress, article, meter, figure {
	display: block;
}


body {
    font-size: 13px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #111;
}

#wrap {
    width: 940px;
    padding: 20px 10px;
    margin: 0 auto;
/*    overflow: hidden;*/
}

h1 {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 600;
    color: #DDD;
}

th, td {
    border: 1px solid #AAA;
	padding: 1px;
}

/**************************
**  Entry
**************************/

fieldset {
    margin-bottom: 10px;    
}

fieldset legend {
    font-weight: bold;
    margin-bottom: 2px;
}

body.entry fieldset li {
    display: block;
    float: left;
    width: 40px;
}

#race_entry table {
    margin-bottom: 1.0em;
}

select.race {
    font-size: 15px;
}

select.course, 
select.vehicle {
    width: 120px;
}

select.place,
select.person {
    font-size: 16px;
}

th {
    font-weight: bold;
}

/**************************
**  Visualization
**************************/

#graph {
	width: 800px;
    margin: 40px 0 10px 80px;
    background: #FFF;
    position: relative;
    min-height: 180px;
}


/**** Graph lines ****/

#graph .graph_lines {
    border-left: 1px solid #DDD;
    position: absolute;
    height: 200px;
    top: -20px;
    left: 0;
}

#graph .graph_lines div {
    width: 99px;
    border-right: 1px solid #DDD;
    float: left;
    position: relative;
    height: 100%; 
}

#graph .graph_lines label {
    position: absolute;
    font-size: 11px;
    color: #888;
    top: -20px;
    display: block;
    width: 30px;
    text-align: center;
    right: -15px;
}

#graph .graph_lines label.zero {
    left: -15px;
}


/**** Canvas ****/

#graph canvas {
    position: absolute;
    left: 0;
    top: 0;
}

/**** Player ****/

#graph .player {
    border: 0px solid #CCC;
    position: absolute;
    top: 0;
    left: 0;
}

#graph progress.round {
    border: 1px solid #AAA;
    height: 20px;
    width: 640px;
    position: relative;
    overflow: hidden;
    background: hsla(0,0%,70%, .2);
}

#graph meter.race {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-right: 2px solid #F00;
    overflow: hidden;
}

#graph meter.race .points {
    position: absolute;
    top: 20px;
}

#graph meter.race .place {
    position: absolute;
    line-height: 20px;
    left: 6px;
    width: 30px;
    font-size: 14px;
    color: #FFF;
    display: none;
}
#graph meter.race span {
    text-transform: uppercase;
    font-size: 11px;
    display: inline-block;
    position: relative;
    top: -0.2em;
}

#graph meter.race.selected .place,
#graph meter.race:hover .place { display: block; }

#graph .identity {
    position: absolute;
    top: -12px;
    right: -310px;
    width: 300px;
}

#graph .identity .avatar {
	display:none;
    float: left;
    background: #FFF;
}

#graph .identity .name {
    padding-left: 5px;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.04em;
    display: inline;
    font-weight: bold;
}

#graph .total {
    position: absolute;
    left: -115px;
    top: -12px;
    text-align: right;
    display: block;
    width: 100px;
    font-size: 30px;
    line-height: 40px;
    
    letter-spacing: -0.04em;
    font-weight: 100;
}

/**** Character Avatars ****/

.avatar.character {
    width: 40px;
    height: 40px;
    border: 1px solid #CCC;
    overflow: visible;
    position: relative;
}

.avatar.character div {
    width: 45px;
    height: 45px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
}

.avatar.character img {
    position: absolute;
}


.avatar.character.baby_mario div,
.avatar.character.baby_daisy div,
.avatar.character.toadette div,
.avatar.character.daisy div,
.avatar.character.yoshi div,
.avatar.character.birdo div,
.avatar.character.diddy_kong div,
.avatar.character.bowser div {
    left: 0;
}

.avatar.character.baby_luigi div,
.avatar.character.baby_peach div,
.avatar.character.toad div,
.avatar.character.koopa_troopa div,
.avatar.character.dry_bones div,
.avatar.character.mario div,
.avatar.character.luigi div,
.avatar.character.peach div,
.avatar.character.bowser_jr div,
.avatar.character.wario div,
.avatar.character.waluigi div,
.avatar.character.donkey_kong div,
.avatar.character.king_boo div,
.avatar.character.rosalina div,
.avatar.character.funky_kong div,
.avatar.character.dry_bowser div {
    right: 0;
}

.avatar.character.baby_mario img { top: -0px; left: 0px; }
.avatar.character.baby_luigi img { top: -0px; left: -45px; }
.avatar.character.baby_peach img { top: -0px; left: -90px; }
.avatar.character.baby_daisy img { top: -0px; left: -135px; }
.avatar.character.toad img { top: -45px; left: 0px; }
.avatar.character.toadette img { top: -45px; left: -45px; }
.avatar.character.koopa_troopa img { top: -45px; left: -90px; }
.avatar.character.dry_bones img { top: -45px; left: -135px; }
.avatar.character.mario img { top: -90px; left: 0px; }
.avatar.character.luigi img { top: -90px; left: -45px; }
.avatar.character.peach img { top: -90px; left: -90px; }
.avatar.character.daisy img { top: -90px; left: -135px; }
.avatar.character.yoshi img { top: -135px; left: 0px; }
.avatar.character.birdo img { top: -135px; left: -45px; }
.avatar.character.diddy_kong img { top: -135px; left: -90px; }
.avatar.character.bowser_jr img { top: -135px; left: -135px; }
.avatar.character.wario img { top: -180px; left: 0px; }
.avatar.character.waluigi img { top: -180px; left: -45px; }
.avatar.character.donkey_kong img { top: -180px; left: -90px; }
.avatar.character.bowser img { top: -180px; left: -135px; }
.avatar.character.king_boo img { top: -225px; left: 0px; }
.avatar.character.rosalina img { top: -225px; left: -45px; }
.avatar.character.funky_kong img { top: -225px; left: -90px; }
.avatar.character.dry_bowser img { top: -225px; left: -135px; }

#graph #player_0 progress.round { background-color: hsla(0,100%,50%,.175); }
#graph #player_1 progress.round { background-color: hsla(110,100%,35%,.175); }
#graph #player_2 progress.round { background-color: hsla(340,50%,50%,.175); }
#graph #player_3 progress.round { background-color: hsla(45,75%,50%,.175); }
#graph #player_4 progress.round { background-color: hsla(250,100%,50%,.175); }
#graph #player_5 progress.round { background-color: hsla(330,65%,50%,.175); }
#graph #player_6 progress.round { background-color: hsla(50,100%,50%,.175); }
#graph #player_7 progress.round { background-color: hsla(240,5%,60%,.175); }
#graph #player_8 progress.round { background-color: hsla(0,100%,50%,.175); }
#graph #player_9 progress.round { background-color: hsla(0,100%,50%,.175); }
#graph #player_10 progress.round { background-color: hsla(55,10%,45%,.175); }
#graph #player_11 progress.round { background-color: hsla(110,90%,35%,.175); }
#graph #player_12 progress.round { background-color: hsla(60,100%,50%,.175); }
#graph #player_13 progress.round { background-color: hsla(45,80%,50%,.175); }
#graph #player_14 progress.round { background-color: hsla(120,60%,50%,.175); }
#graph #player_15 progress.round { background-color: hsla(300,100%,50%,.175); }
#graph #player_16 progress.round { background-color: hsla(15,100%,30%,.175); }
#graph #player_17 progress.round { background-color: hsla(75,100%,40%,.175); }
#graph #player_18 progress.round { background-color: hsla(60,100%,50%,.175); }
#graph #player_19 progress.round { background-color: hsla(270,100%,50%,.175); }
#graph #player_20 progress.round { background-color: hsla(15,80%,30%,.175); }
#graph #player_21 progress.round { background-color: hsla(15,100%,50%,.175); }
#graph #player_22 progress.round { background-color: hsla(0,0%,70%,.175); }
#graph #player_23 progress.round { background-color: hsla(170,60%,50%,.175); }
#graph #player_24 progress.round { background-color: hsla(30,20%,50%,.175); }



/**************************
**  Animate Round button
**************************/

button,
input[type="submit"] {
    background: #CCC;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#CCC), color-stop(0.2, #F5F5F5), color-stop(0.8, #D5D5D5));
    border: 1px solid #BBB;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    height: 32px;
    padding: 0 15px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-box-shadow:
        0 2px 2px hsla(0,0%,0%,.1),
        inset 0 40px 32px -16px hsla(0,0%,100%,.7),
        inset 0 -5px 5px hsla(0,0%,0%,.05),
        inset 0 5px 5px hsla(0,0%,100%,.8)
    ;
    -webkit-box-shadow: 0 2px 2px hsla(0,0%,0%,.1);
    text-shadow: 0 1px 0 hsla(0,0%,100%,.7);
}

button:hover,
input[type="submit"]:hover  {
    cursor: pointer;
    background: #FE8;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EC9));
}

button:active,
input[type="submit"]:active  {
    background: #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#CCC));
    border-color: #888;
    -moz-box-shadow:
        inset 0 2px 15px hsla(0,0%,0%,.7),
        inset 0 40px 32px -16px hsla(0,0%,100%,.7),
        inset 0 -5px 5px hsla(0,0%,0%,.05)
    ;
    -webkit-box-shadow: none;
}

button:disabled,
input[type="submit"]:disabled
/*
,
button[disabled]:hover,
button[disabled]:active 
*/
{
    cursor: default;
    opacity: 0.6;
    border-color: #BBB;
    background: #CCC;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#CCC));    
    -moz-box-shadow:
        0 2px 2px hsla(0,0%,0%,.1),
        inset 0 40px 32px -16px hsla(0,0%,100%,.7),
        inset 0 -5px 5px hsla(0,0%,0%,.05),
        inset 0 5px 5px hsla(0,0%,100%,.8)
    ; 
    -webkit-box-shadow: 0 2px 2px hsla(0,0%,0%,.1);
}

#animate_round {
	float: right;
    margin: 0 20px 20px 0;
	outline: none;
}

/**************************
**  Round Races
**************************/

#round_races {
    overflow-y: hidden;
    overflow-x: scroll;
    margin-bottom: 20px;
}

#round_races .slider {
    position: relative;
}

#round_races canvas {
    position: absolute;
    top: 48px;
    left: 51px;
}

#round_races .race {
    width: 250px;
    float: left;
    border: 1px solid #CCC;
    margin: 20px 0 20px 20px;
    position: relative;
}

#round_races .race h3 {
    padding: 0 10px;
    color: #FFF ;
    line-height: 26px;
}

#round_races li {
    height: 20px;
    border-top: 1px solid #CCC;
    line-height: 20px;
    font-weight: 200;
}

#round_races h4 {
    float: left;
    width: 18px;
    text-align: right;
    line-height: 20px;
    letter-spacing: -0.1em;
    font-size: 15px;
    color: #AAA;
    line-height: 20px;
}

#round_races .player {

}

#round_races .player h4 {
    font-weight: bold;
    color: #111;
}

#round_races dl {
    position: relative;
}

#round_races .avatar {
	display: none;
    position: absolute;
    top: 0px;
    left: 30px;
    border-top: none;
    border-bottom: none;
    height: 25px;
}

#round_races .avatar div {
    height: 35px;
}

#round_races .name {
    position: absolute;
    top: 0px;
    left: 32px;
    font-size: 15px;
    letter-spacing: -0.03em;
    font-weight: bold;
}

#round_races .points {
    position: absolute;
    top: 0;
    right: 38px;
    font-size: 14px;
    background: #111;
    color: #FFF;
    padding: 0px 4px;
    font-weight: bold;

}

#round_races .score {
    position: absolute;
    top: 0px;
    right: 2px;
    letter-spacing: -0.03em;
    font-size: 18px;
    padding: 1px 4px;
    font-weight: 100;

}


/**** Colors ****/
#graph meter.race.race0 { border-color: #F33; }
#graph meter.race.race0.selected,
#graph meter.race.race0:hover,
#round_races .race.race0 h3 { background-color: #F00; }
#graph meter.race.race1 { border-color: #3C5; }
#graph meter.race.race1.selected,
#graph meter.race.race1:hover,
#round_races .race.race1 h3 { background-color: #3C5; }
#graph meter.race.race2 { border-color: #AA5; }
#graph meter.race.race2.selected,
#graph meter.race.race2:hover,
#round_races .race.race2 h3 { background-color: #AA5; }
#graph meter.race.race3 { border-color: #F22; }
#graph meter.race.race3.selected,
#graph meter.race.race3:hover,
#round_races .race.race3 h3 { background-color: #F22; }
#graph meter.race.race4 { border-color: #D6D; }
#graph meter.race.race4.selected,
#graph meter.race.race4:hover,
#round_races .race.race4 h3 { background-color: #D6D; }
#graph meter.race.race5 { border-color: #E11; }
#graph meter.race.race5.selected,
#graph meter.race.race5:hover,
#round_races .race.race5 h3 { background-color: #E11; }
#graph meter.race.race6 { border-color: #A8A; }
#graph meter.race.race6.selected,
#graph meter.race.race6:hover,
#round_races .race.race6 h3 { background-color: #A8A; }
#graph meter.race.race7 { border-color: #EEE; }
#graph meter.race.race7.selected,
#graph meter.race.race7:hover,
#round_races .race.race7 h3 { background-color: #EEE; }
#graph meter.race.race8 { border-color: #EE2; }
#graph meter.race.race8.selected,
#graph meter.race.race8:hover,
#round_races .race.race8 h3 { background-color: #EE2; }
#graph meter.race.race9 { border-color: #F93; }
#graph meter.race.race9.selected,
#graph meter.race.race9:hover,
#round_races .race.race9 h3 { background-color: #F93; }
#graph meter.race.race10 { border-color: #789; }
#graph meter.race.race10.selected,
#graph meter.race.race10:hover,
#round_races .race.race10 h3 { background-color: #789; }
#graph meter.race.race11 { border-color: #C94; }
#graph meter.race.race11.selected,
#graph meter.race.race11:hover,
#round_races .race.race11 h3 { background-color: #C94; }
#graph meter.race.race12 { border-color: #C82; }
#graph meter.race.race12.selected,
#graph meter.race.race12:hover,
#round_races .race.race12 h3 { background-color: #C82; }
#graph meter.race.race13 { border-color: #EC6; }
#graph meter.race.race13.selected,
#graph meter.race.race13:hover,
#round_races .race.race13 h3 { background-color: #EC6; }
#graph meter.race.race14 { border-color: #343; }
#graph meter.race.race14.selected,
#graph meter.race.race14:hover,
#round_races .race.race14 h3 { background-color: #343; }
#graph meter.race.race15 { border-color: #116; }
#graph meter.race.race15.selected,
#graph meter.race.race15:hover,
#round_races .race.race15 h3 { background-color: #116; }
#graph meter.race.race16 { border-color: #000; }
#graph meter.race.race16.selected,
#graph meter.race.race16:hover,
#round_races .race.race16 h3 { background-color: #000; }
#graph meter.race.race17 { border-color: #66E; }
#graph meter.race.race17.selected,
#graph meter.race.race17:hover,
#round_races .race.race17 h3 { background-color: #66E; }
#graph meter.race.race18 { border-color: #2D2; }
#graph meter.race.race18.selected,
#graph meter.race.race18:hover,
#round_races .race.race18 h3 { background-color: #2D2; }
#graph meter.race.race19 { border-color: #442; }
#graph meter.race.race19.selected,
#graph meter.race.race19:hover,
#round_races .race.race19 h3 { background-color: #442; }
#graph meter.race.race20 { border-color: #C22; }
#graph meter.race.race20.selected,
#graph meter.race.race20:hover,
#round_races .race.race20 h3 { background-color: #C22; }
#graph meter.race.race21 { border-color: #DDE; }
#graph meter.race.race21.selected,
#graph meter.race.race21:hover,
#round_races .race.race21 h3 { background-color: #DDE; }
#graph meter.race.race22 { border-color: #EE8; }
#graph meter.race.race22.selected,
#graph meter.race.race22:hover,
#round_races .race.race22 h3 { background-color: #EE8; }
#graph meter.race.race23 { border-color: #AAC; }
#graph meter.race.race23.selected,
#graph meter.race.race23:hover,
#round_races .race.race23 h3 { background-color: #AAC; }
#graph meter.race.race24 { border-color: #963; }
#graph meter.race.race24.selected,
#graph meter.race.race24:hover,
#round_races .race.race24 h3 { background-color: #963; }
#graph meter.race.gba_bowser_castle_3 { border-color: #F63; }
#graph meter.race.gba_bowser_castle_3.selected,
#graph meter.race.gba_bowser_castle_3:hover,
#round_races .race.gba_bowser_castle_3 h3 { background-color: #F63; }
#graph meter.race.n64_dks_jungle_parkway { border-color: #FD3; }
#graph meter.race.n64_dks_jungle_parkway.selected,
#graph meter.race.n64_dks_jungle_parkway:hover,
#round_races .race.n64_dks_jungle_parkway h3 { background-color: #FD3; }
#graph meter.race.gcn_mario_circuit { border-color: #292; }
#graph meter.race.gcn_mario_circuit.selected,
#graph meter.race.gcn_mario_circuit:hover,
#round_races .race.gcn_mario_circuit h3 { background-color: #292; }
#graph meter.race.snes_mario_circuit_3 { border-color: #EE2; }
#graph meter.race.snes_mario_circuit_3.selected,
#graph meter.race.snes_mario_circuit_3:hover,
#round_races .race.snes_mario_circuit_3 h3 { background-color: #EE2; }
#graph meter.race.ds_peach_gardens { border-color: #8A8; }
#graph meter.race.ds_peach_gardens.selected,
#graph meter.race.ds_peach_gardens:hover,
#round_races .race.ds_peach_gardens h3 { background-color: #8A8; }
#graph meter.race.gcn_dk_mountain { border-color: #8AA; }
#graph meter.race.gcn_dk_mountain.selected,
#graph meter.race.gcn_dk_mountain:hover,
#round_races .race.gcn_dk_mountain h3 { background-color: #8AA; }
#graph meter.race.n64_bowsers_castle { border-color: #33A; }
#graph meter.race.n64_bowsers_castle.selected,
#graph meter.race.n64_bowsers_castle:hover,
#round_races .race.n64_bowsers_castle h3 { background-color: #33A; }

#round_races .race.race7 h3,
#graph meter.race.race7 .place,
#round_races .race.race8 h3,
#graph meter.race.race8 .place,
#round_races .race.race21 h3,
#graph meter.race.race21 .place,
#round_races .race.race22 h3,
#graph meter.race.race22 .place,
#round_races .race.n64_dks_jungle_parkway h3,
#graph meter.race.n64_dks_jungle_parkway .place,
#round_races .race.snes_mario_circuit_3 h3,
#graph meter.race.snes_mario_circuit_3 .place,
#round_races .race.race25 h3,
#graph meter.race.race25 .place { 
    color: #111; 
}

#output {
    display: none;
}